---
layout: default
---

<div class="home">
<h1 class="page-heading">Current project:</h1>
<a href="{{ site.baseurl }}/app/places.html"><h2>Places</h2></a>
<center>
	<a href="{{ site.baseurl }}/app/places.html">
<img class="app-image rounded shadow" style="width:300px;"src="{{ site.baseurl }}/assets/icons/pro-places.png"/>
</a><br /><br />
<p style="width:500px">description: Places is navigation tool that lets you find a way to your places easily for everyone</p>
</center>

  <h1 class="page-heading">iOS</h1>

  <ul class="page-list">
    {% assign pages = site.pages | where:"type","app" | where:"tags","iOS" | sort:"weight" | reverse %}
    {% for page in pages %}
      <li>
		
	<a class="page-link" href="{% if page.projectUrl %}{{ page.projectUrl }}{% else %}{{ page.url | prepend: site.baseurl }}{% endif %}">
		<h2>
		{{ page.title }}
		</h2>
		<img class="app-image rounded" src="{{ site.baseurl }}/assets/icons/small_150/{{page.image}}"/>
	</a>
	<br />
	<a href="{{ page.appstoreLink }}"><img style="width:135px;height:40px;" src="{{ site.baseurl }}/assets/App Store Badge/Download_on_the_App_Store_Badge_US-UK_135x40.png" /></a>
      </li>
    {% endfor %}
  </ul>
<br />

<h2 style="margin-top: 120px;" >Windows Phone</h2>

 <ul class="page-list">
   <li>
      <a class="page-link" href="https://www.microsoft.com/ru-ru/store/apps/Мега-поиск/9nblgggzkdwf">  
        <h2>
        Mega Finder
        </h2>
        <img class="app-image shadow" src="{{ site.baseurl }}/assets/icons/small_150/megafinder.png"/>
      </a>
      <br />
      <a href="https://www.microsoft.com/ru-ru/store/apps/Мега-поиск/9nblgggzkdwf"><img style="width:135px" src="{{ site.baseurl }}/assets/App Store Badge/English_Get_it_Win_10_InvariantCulture_Default.png" /></a>
   </li>
   </ul>
<div></div>
  <!--p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p-->

</div>
