---
layout: default
---
{% capture image %}
![{{ page.title }}]({{ site.baseurl }}/assets/icons/{{page.image}})
{% endcapture %}
<div class="post">

  <header class="post-header">
    <a href="{{ page.appstoreLink }}"><h1 class="post-title">{{ page.title }}</h1></a>
  </header>

  <article class="post-content app">
    {{ page.description }}
    <a href="{{ page.appstoreLink }}">{{ image | markdownify }}</a>
	<a href="{{ page.appstoreLink }}"><img src="{{ site.baseurl }}/assets/App Store Badge/Download_on_the_App_Store_Badge_US-UK_135x40.png" /></a>
    {{ content }}
  </article>

</div>
