<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:gr="http://purl.org/goodrelations/v1#"
	xmlns:schema="http://schema.org/"
    version="XHTML+RDFa 1.0" xml:lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
